.selected {
  color: var(--ifm-color-primary) !important;
  text-shadow: 0 0 12px var(--ifm-color-primary-lightest);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--muted-color);
  text-transform: uppercase;
  font-weight: bolder;
}

[data-theme='dark'] .selected {
  text-shadow: none;
}

.not-selected {
  color: var(--muted-color);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--muted-color);
  text-transform: uppercase;
  font-weight: bolder;
}

.clickable {
  cursor: pointer;
  color: var(--muted-color);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--muted-color);
  text-transform: uppercase;
  font-weight: bolder;
}

.clickable:hover {
  color: var(--ifm-color-primary);
}
